.DS_Store
.history
.repro
.tests
*.backup-*
*.bak
*.bin
*.img
*.iso
*.log
*.qcow2
/emacs/dot-emacs.d/auto-save-list/
/emacs/dot-emacs.d/eln-cache/
/emacs/dot-emacs.d/elpa/
/emacs/dot-emacs.d/history
/emacs/dot-emacs.d/places
/emacs/dot-emacs.d/projects
/emacs/dot-emacs.d/recentf
/emacs/dot-emacs.d/saved-places
/emacs/dot-emacs.d/straight/
/emacs/dot-emacs.d/transient/
/emacs/dot-emacs.d/tree-sitter/
/emacs/dot-emacs.d/var/
custom-iso/
data
debug
doc/tags
foo.*
history.txt
lazy-lock.json
local*
output/
result
starship.nu
tt.*
vim/*.un~
yazi/dot-config/yazi/package.toml
.cache/
.claude/
